.modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    max-width: 400px;
    padding: 1em;
  }
  
  div {
    margin-bottom: 0.5em;
  }
  
  label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
  }
  
  input {
    border: 1px solid;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input.error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: .875em;
    margin-top: .25em;
  }
  
  button {
    padding: 5px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
  }
